<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>mavenServlet</servlet-name>
        <servlet-class>com.mycompany.kursovoy.mavenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>trainPathChangeServlet</servlet-name>
        <servlet-class>com.mycompany.kursovoy.trainPathChangeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>trainModelChangeServlet</servlet-name>
        <servlet-class>com.mycompany.kursovoy.trainModelChangeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>trainWorkerChangeServlet</servlet-name>
        <servlet-class>com.mycompany.kursovoy.trainWorkerChangeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>trainChangeServlet</servlet-name>
        <servlet-class>com.mycompany.kursovoy.trainChangeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mavenServlet</servlet-name>
        <url-pattern>/mavenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>trainPathChangeServlet</servlet-name>
        <url-pattern>/trainPathChangeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>trainModelChangeServlet</servlet-name>
        <url-pattern>/trainModelChangeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>trainWorkerChangeServlet</servlet-name>
        <url-pattern>/trainWorkerChangeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>trainChangeServlet</servlet-name>
        <url-pattern>/trainChangeServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
